include README.md
include CHANGELOG.md
include BUILD_VALIDATION.txt
include requirements.txt
include *.py
include *.bat
recursive-include fermat_ext/data *.json
recursive-include cpp *.cpp *.hpp *.h
recursive-include examples *.txt
recursive-include tests *.py *.cpp
recursive-include patches *.diff
