.venv/
build/
__pycache__/
*.py[cod]
*.pyd
*.so
*.dll
*.dylib
*.egg-info/
audit_out_native/
knot_matrix_*/

softening_*
resolution_*
profile_matrix_*
validation_*
candidate_atlas_*/
convergence_*/
bifurcation_*/
scale_sweep_*/
symmetry_audit*/
