.venv/
build/
__pycache__/
*.py[cod]
*.pyd
*.so
*.dll
*.dylib
*.egg-info/
audit_out_native/
knot_matrix_*/

softening_*
resolution_*
profile_matrix_*
validation_*
candidate_atlas_*/
convergence_*/
bifurcation_*/
scale_sweep_*/
symmetry_audit*/
v0.5.0_campaign_output/
v0.5.0_smoke_output/
v0.5.0_global_orbit_output/
v0.5.0_global_orbit_smoke_output/
SST_fermat_pybind_research_v0.5.0_results.zip*
SST_fermat_pybind_research_v0.5.0_global_orbit_results.zip*
SST_fermat_pybind_research_v0.5.0_global_orbit_smoke_results.zip*
v0.6.1_campaign_output/
v0.6.1_smoke_output/
v0.6.1_python_smoke_output/
v0.6.1_hole_bundle_sweep_output/
v0.6.1_selected_convergence_output/
v0.6.1_axis_audit_output/
v0.6.1_mode_projection_output/
SST_fermat_pybind_research_v0.6.1*_results.zip*
